* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
.footer{
    background-color: rgb(165, 167, 165);
    width: 100%;
    text-align: center;
    /* line-height: 2.2; */
    font-size: 1.2rem;
    position: relative;
    bottom: 0px;
    right:0px;
    left:0px;
    color: #fff;
    /* margin: 0px 0px 0px 0px; */
    font-family: arial, helvetica;
}