@media only screen and (max-device-width: 600px) {
    
    .mat-form-field {
        width: 100%;
        max-width: 100% !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}

.vertical-scrollable{
    position: relative;
    top: 120px;
    bottom: 100px;
   
    overflow-y: scroll;
}