<div class="container">

  <div class="card m-5 p-3">
    <div class="text-left ml-1 ">
      <button class="btn btn-outline-info" type="button" (click)="navigateToDepartment()">Departments</button>
    </div>
    <div class="card-body bg-white shadow rounded mt-4 table-responsive">
      <div class="text-center">
        <h2 style="color:rgb(4, 4, 97) ; font-family: 'Times New Roman', Times, serif; font-size: 1.5rem;">Recruiters</h2>
      </div>
      
      <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-hover ">
        <thead></thead>
        <tbody *ngIf="users?.length != 0">
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td >
               <div *ngIf="user?.department else not_assigned">
                <ul *ngFor="let department of user?.department" >
                  <li style="list-style:none; margin: 0;padding:0;line-height: normal;display: block;">
                    <mat-checkbox  [disabled]="false" [checked]='true'>{{department.departmentName}}</mat-checkbox>
                  </li>
                 </ul>
               </div>
               <ng-template #not_assigned style="margin-left: 2rem;">N.A</ng-template>
            </td>
            
            <td>
              <div class="d-flex justify-content-center">
                <div>
                  <button mat-raised-button color="primary" (click)="action('edit',user.id)">Edit</button>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
        <tbody *ngIf="users?.length == 0">
          <tr>
            <td colspan="7" class="no-data-available text-lg-center">No Data Found!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>