<div class="container resume-holder p-3 w-75 d-flex flex-column justify-content-center align-items-center">
    <div class="cross" mat-dialog-close>
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div  #resumePdf  id="resumePdf" class="card" style="padding:2rem">
        <div class="card-body">
            <div class="row">
                <div class="col col-lg-6 ">
                    <h4 class="nameOfEmployee color">Abrar Khan</h4>
                </div>
                <div class="col col-lg-5 offset-md-1" >
                    <p style="margin:0; padding:0; line-height: normal; white-space:wrap;" id="address">09, RM Road,Gulshan
                        Nagar,Jogeshwari West, Mumbai 400102,Maharashtra</p>
                    <p style="margin:0; padding:0 ;line-height: normal;" id="contact">(+91) 8828171278</p>
                    <p style="margin:0; padding:0;" id="email">er.khanabrar786@gmail.com</p>
                </div>
            </div>

            <!-- objective -->
            <div class="row mt-2" >
                <div class="col col-lg-7" >
                    <h4 class="color" id="carrierObjective" style="margin:0; padding:0">Objective</h4>
                    <p id="carrierObjectiveDescription" style="margin:0; padding:0">Seeking a
                        position to apply the knowledge that I have learned and explore
                        abilities, skills, towards my duties and to excel in the field of Java.
                    </p>
                </div>
            </div>

            <!-- Education and skill -->
            <div class="row mt-2" >
                <div class="col col-lg-6">
                    <h4 style="margin:0; padding:0;" class="carrierObjective" class="color">Education</h4>
                    <div>
                        <p id="schooleName" style="margin:0; padding:0; line-height: normal;font-weight: 500;">
                            JIEMS, Maharashtra— B.E. Electronics & Telecommunication
                        </p>
                        <p id="aggregate" style="margin:0; padding:0; line-height: normal;">
                            Aggregate: 60%
                        </p>
                        <p id="duration">
                            April 2011 - May 2015
                        </p>
                    </div>
                    <div class="mt-1">
                        <p id="schooleName2" style="margin:0; padding:0; line-height: normal; font-weight: 500;">
                            Vidyanidhi College Of Science & Commerce , Mumbai— HSC
                        </p>
                        <p id="aggregate2" style="margin:0; padding:0; line-height: normal; ">
                            Aggregate: 55%
                        </p>
                        <p id="duration2" >
                            June 2010 - Feb2011
                        </p>
                    </div>
                </div>
                <div class="col col-lg-5 offset-md-1 ">
                    <h4 style="margin:0; padding:0" class="carrierObjective color">Skill</h4>
                    <p style="margin:0; padding:0 ">
                        java,Angular,springboot,core java,Hibernate,git,github,ava,Angular,springboot,core java,Hibernate,git,github
                    </p>
                </div>
            </div>

            <!-- Experience -->
            <div class="row mt-2" >
                <div class="col col-lg-6">
                    <h4 style="margin:0; padding:0 ;" class="carrierObjective color">Experience</h4>
                    <div >
                        <p id="orgnization" style="margin:0; padding:0;line-height: normal; font-weight: 500;">
                            Catseye Systems & Solution, Mumbai-Junior Java Developer
                        </p>
                        <p id="role" style="margin:0; padding:0;">
                            This is a prototype that can be operated by the voice command from the user. Here w e use a
                            module uses an IC called HM 2007.
                            This is a prototype that can be operated by the voice command from the user. Here w e use a
                            module uses an IC called HM 2007.
                        </p>
                        <p id="startDateAndEndDate"  >
                            April 2021-May 2022.
                        </p>
                    </div>
                    <div>
                        <p id="orgnization2" style="margin:0; padding:0;line-height: normal;font-weight: 500;">
                            Catseye Systems & Solution, Mumbai-Junior Java Developer
                        </p>
                        <p id="role2" style="margin:0; padding:0; ">
                            This is a prototype that can be operated by the voice command from the user. Here w e use a
                            module uses an IC called HM 2007.
                        </p>
                        <p id="startDateAndEndDate2" style="" >
                            April 2021-May 2022.
                        </p>
                    </div>
                </div>
                <div class="col col-lg-5 offset-md-1 mt-2">
                    <h4 style="margin:0; padding:0 ;" class="socialMedialink color">Social Media Link</h4>
                    <div >
                        <p style="margin:0; padding:0 ;line-height: normal;"  id="socialMedia1">Github</p>
                        <p style="margin:0; padding:0 ;">https://github.com/Abrarkhan-786/cltech_ui</p>
                    </div>
                    <div class="mt-1">
                        <p style="margin:0; padding:0 ;line-height: normal;"id="socialMedia2">LinkdIn</p>
                        <p style="margin:0; padding:0 ;">https://github.com/Abrarkhan-786/cltech_ui</p>
                    </div>
                    <div class="mt-1">
                        <p style="margin:0; padding:0 ;line-height: normal;" id="socialMedia3">stackoverflow</p>
                        <p style="margin:0; padding:0 ;">https://github.com/Abrarkhan-786/cltech_ui</p>
                    </div>
                </div>
            </div>
    
            <!--Projects  -->
            <div class="row mt-2">
                <div class="col col-lg-6">
                    <h4 style="margin:0; padding:0 ;" class="carrierObjective color">Projects</h4>
                    <div>
                        <p id="porprojectName" style="margin:0; padding:0;line-height: normal;">
                            VoiceOperated Intelligence Fire Extinguisher —Detail
                        </p>
                        <p id="projectDescription" >
                            This is a prototype that can be operated by the voice command from the user. Here w e use a
                             speech recognition module for giving and processing voice commands. A speech recognition
                             module uses an IC called HM 2007.
                        </p>
                    </div>
                    <div class="mt-1">
                        <p id="porprojectName2" style="margin:0; padding:0 ;line-height: normal;">
                            VoiceOperated Intelligence Fire Extinguisher —Detail
                        </p>
                        <p id="projectDescription2" style="margin:0; padding:0 ">
                            This is a prototype that can be operated by the voice command from the user. Here w e use a
                            speech recognition module for giving and processing voice commands. A speech recognition
                            module uses an IC called HM 2007.
                        </p>
                    </div>
                </div>
               
            </div>

            <!--Declaration-->
            <div class="row mt-2">
                <div class="col col-lg-6">
                    <h4 style="margin:0; padding:0 ;" class="carrierObjective color">Declaration</h4>
                  <p style="margin:0; padding:0 ;">I hereby declare that the information provided is true to the best of my knowledgeand belief.</p>  
                </div>
                <div class="col col-lg-5 offset-md-1">
                    <p style="margin:0; padding:0;line-height: normal;">Date:23/07/2022</p>
                    <p style="margin:0; padding:0 ;">Place:Mumbai</p>  
                 </div>
            </div>
        </div>
    </div>
           <!--Buttons-->
    <div class="mt-2">
        <div class="d-flex">
            <div class="">
                <button mat-raised-button color="warn" (click)="print()">Print</button>
            </div>
            <div class="ml-3">
                <button mat-raised-button color="primary" type="button" (click)="download()">Export To PDF</button>
            </div>
            <div class="ml-3">
                <button mat-raised-button color="primary" type="button" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>